/* Use Google Fonts for Noto Sans KR to reduce source size */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

/* Define font-family mappings */
@font-face {
    font-family: 'NotoKrR';
    font-style: normal;
    font-weight: 300;
    src: local('Noto Sans KR'), url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
}

@font-face {
    font-family: 'NotoKrM';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans KR'), url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');
}

@font-face {
    font-family: 'NotoKrB';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans KR'), url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
}
